@import url('https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css');

body {
    background-image: url(https://sun9-58.userapi.com/c855536/v855536748/1a32dd/6T-T9CtkD-k.jpg);
    background-repeat: no-repeat;
}

.btn.btn-link{
    background-color: rgba(155,155,155,0.5);
    color: white;
}