@import url('https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css');
.tableStatistics{
    height: 550px;
    overflow: auto;
}
table {
    width: 100%;
}


body {
    background-image: url(https://sun9-58.userapi.com/c855536/v855536748/1a32dd/6T-T9CtkD-k.jpg),
    url(https://sun9-58.userapi.com/c855536/v855536748/1a32dd/6T-T9CtkD-k.jpg),
    url(https://sun9-58.userapi.com/c855536/v855536748/1a32dd/6T-T9CtkD-k.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
