nav {
    background-color: lavender;
}
.waves-effect{
    background-color: lavender;
    color: black;
    font-weight: bold;
}

.sound--controller {
    position: absolute;
    bottom: 10px;
    right: 20px;
}