@import url('https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css');
.tableStatistics{
    height: 550px;
    overflow: auto;
}
table {
    width: 100%;
}

body {
    background-image: url(https://sun9-58.userapi.com/c855536/v855536748/1a32dd/6T-T9CtkD-k.jpg);
    background-repeat: no-repeat;
}

.col-md-6.mx-auto.mt-3.tableStatistics.mat-elevation-z8{
    background-color: rgba(255,255,255,0.5);
}